<h2>Lista de heroes</h2>
<!----->
<ul class="heroes">
  <!-- la lista de héroes y generamos un elemento <li> para cada uno -->
   <!--2.3le dicen a Angular que es un evento clic para el elemento <li>. Cuando el usuario hace clic en 
    <li>, Angular ejecuta la expresión onSelect(hero).
      2.6.-Si el héroe de la fila actual es el mismo que de selectedHero, Angular agrega una clase CSS selected.Cuando los dos héroes
       son diferentes, Angular eliminará la clase.-->
       <ul class="heroes">
        <li *ngFor="let hero of heroes">
          <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
          </a>
        </li>
</ul>

<!--3.4.-Incluimos el componente de detalle del héroe y pasamos el héroe seleccionado como entrada -->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
