/* Estilos privados de HeroesComponent.ts */

/* Estilos para la lista de héroes */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

/* Estilos para los elementos <li> en la lista de héroes */
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

/* Estilos cuando se pasa el ratón sobre un elemento <li> */
.heroes li:hover {
  color: rgb(245, 8, 8);
  background-color: #DDD;
  left: .1em;
}

/* Estilos para el elemento <li> seleccionado */
.heroes li.selected {
  background-color: #CFD8DC;
  color: white;
}

/* Estilos cuando se pasa el ratón sobre el elemento <li> seleccionado */
.heroes li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

/* Estilos para el elemento con la clase "badge" que muestra el ID del héroe */
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: rgb(245, 8, 8);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
