<h1>{{title}}</h1>
<!--5.2.Agrega un elemento <nav> y, dentro de él, un elemento de ancla que, al hacer clic, activa la navegación -->
  <nav>
    <!-- 5.7 Agrega un enlace de navegación del panel de control a la plantilla de caparazón AppComponent -->
    <a routerLink="/dashboard">Dashboard</a>
    <!-- Enlace de navegación que redirige a la vista de "Heroes" -->
    <a routerLink="/heroes">Heroes</a>
  </nav>
  
<!-- 5.1.-Este elemento es un marcador de posición para cargar dinámicamente las vistas del enrutador -->
<router-outlet></router-outlet>
<!--4.10 Incluimos el componente de mensajes personalizado -->
<app-messages></app-messages>
