nav a {
    margin-right: 10px; /* Agrega un margen derecho de 10px entre los elementos */
  }
  h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover {
    color: #171818;
    background-color: #e90b0b;
  }
  nav a.active {
    color: #039be5;
  }