/* styles.css o styles.scss */

.clear {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .clear:hover {
    background-color: darkred;
  }
  