<!--4.16.-Reemplace la plantilla MessagesComponent generada por CLI con lo siguiente.-->
<div *ngIf="messageService.messages.length">

        <h2>Mensaje</h2>
        <!-- Botón para limpiar la lista de mensajes -->
        <button class="clear"
                (click)="messageService.clear()">Limpiar</button>
        
        <!-- Iteramos sobre la lista de mensajes y mostramos cada mensaje -->
        <div *ngFor='let message of messageService.messages'> {{message}} </div>
      </div>
      