
<!---->
<!--5.2 Reemplaza el contenido del archivo predeterminado en estos tres archivos de la siguiente manera:-->
<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <!--5.12Los elementos de héroe en el HeroesComponent son elementos <li> cuyos eventos de clic están vinculados al método onSelect() del componente.-->
    <a *ngFor="let hero of heroes" class="col-1-4"
    routerLink="/detail/{{hero.id}}">
  <div class="module hero">
    <h4>{{hero.name}}</h4>
  </div>
</a>
</div>
