<h2>Detalle de: {{ hero.name | uppercase }}</h2>
<!-- Muestra el nombre del héroe en mayúsculas -->

<div><span>ID: </span>{{ hero.id }}</div>
<!-- Muestra el ID del héroe -->

<div><span>Nombre: </span>{{ hero.name }}</div>
<!-- Muestra el nombre del héroe -->

<div><span>Género: </span>{{ hero.genero }}</div>
<!-- Muestra el género del héroe -->

<div>
  <label>Name:
    <!-- Input para editar el nombre del héroe con two-way data binding ([(ngModel)]) -->
    <input [(ngModel)]="hero.name" placeholder="Name" />
    <!-- El [(ngModel)] permite enlace de datos bidireccional, sincronizando el valor con la propiedad 'name' del héroe -->
  </label>
  <button (click)="goBack()">go back</button>
  <!-- Botón para volver atrás, invoca la función 'goBack' al hacer clic -->
</div>
